## Home Area Network Plug Readings
https://data.gov.au/dataset/ds-dga-4e21dea3-9b87-4610-94c7-15a8a77907ef/details
This data is from the customer trial conducted as part of the Smart Grid Smart City (SGSC) project (2010-2014). It provides one of the few linked sets of customer time of use (half hour increments) and demographic data for Australia, as well as detailed information on appliance use, climate, retail and distributor product offers, and other related factors. The project was jointly funded by the Australian Government and an industry consortium, led by Ausgrid.
Data resources that comprise this Customer Trial Data may be linked by the Customer ID number. Details of data resources for this dataset are listed below and include: electricity use interval readings; home area network plug readings; peak events; peak events response; and offer and acceptance.
The SGSC project was a commercial scale demonstration of smart grids, their associated technologies and other factors. Information about the project, including final reports, can be found at the archived [Department of Industry, Innovation and Science] website. (http://content.webarchive.nla.gov.au/gov/wayback/20160615043539/http://www.industry.gov.au/Energy/Programmes/SmartGridSmartCity/Pages/default.aspx).

In [440]:
import pandas as pd
# read the veteran dataset
df = pd.read_csv('sgsc-cthanplug-readings.csv')
df.info()
#df.head(100000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10828120 entries, 0 to 10828119
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   CUSTOMER_ID     int64
 1   READING_TIME    object
 2    PLUG_NAME      object
 3    READING_VALUE  float64
 4    CALENDAR_KEY   int64
 5    RECORD_COUNT   int64
dtypes: float64(1), int64(3), object(2)
memory usage: 495.7+ MB

In [441]:
df[' PLUG_NAME'].unique()

array(['Microwave', 'TV', 'Dishwasher', 'Kettle', 'WashingMachine',
       'AirCon', 'Computer', 'Freezer', 'Fridge', 'B1', 'Washing',
       'Dryer', 'Lights', 'TV2', 'W1', 'Oven', 'Pool Pump', 'B2',
       'Lights2', 'Aircon', 'Plug 1', 'Plug 2', 'Lights Upstairs',
       'Lights Downstairs', 'Stove', 'Bathroom', 'Sound System', 'Radio',
       'Kitchen', 'Aircon A', 'Aircon B', 'Aircon C', 'Toaster', 'TV3',
       'AirCon2', 'Hot Water System', 'Fridge2', 'Garage', 'W2',
       'Rachels computer', 'Bedroom TV', 'Computer2', 'Laptop',
       'Bedroom 1', 'Ent System', 'Fridge 2', 'Washing 2', 'Home Theatre',
       'Coffee Machine', 'Aquarium', 'Kitchen2', 'PanelMeter', 'Lamp1',
       'Other1', 'Fan', 'B3', 'Computer3', 'Hot Plates', 'Microwave 2',
       'Heater', 'Study', 'SPA', 'Pool Heater', 'LAPTOP1', 'LAPTOP3',
       'LAPTOP2', 'Games Console', 'TV4', 'WATER DISPENSER',
       'Drainage Pump', 'BackRoom', 'Office', 'Iron', 'Pool Cleaner',
       'LAUNGE 1', 'Bedroom 3', 'LAUNGE 2', 'Bedroom 2', 'LOUNGE 2',
       'LOUNGE 1', 'Heat pump C', 'Heat pump A', 'Heat pump B', 'D3',
       'L2', 'MW', 'H1', 'L3', 'L1', 'Lamp2', 'Pool filter', 'Server',
       'Fridge 3', 'Pool', 'Underfloor heating', 'Bottle fridge',
       'AirCon3', 'Massage chair', 'Plug 3', 'Plug 5', 'Plug 4', 'Plug 6',
       'Plug 7', 'Lamp3', 'Av room', 'Computer Z', 'POWER BOARD',
       'WORKSHOP', 'Aquarium 2', 'Aquarium 1'], dtype=object)

In [442]:
ID_array = np.array(df['CUSTOMER_ID'].drop_duplicates())
ID_array

array([10014678, 10036802, 10050428, 10050432, 10073526, 10082576,
       10084510, 10118522, 10118628, 10118630, 10170616, 10170650,
       10183934, 10183940, 10183948, 10184056, 10184068, 10184334,
       10213646, 10214784, 10237492, 10288608, 10288628, 10288638,
       10288644, 10288660, 10313002, 10318302, 10327898, 10390733,
       10402309, 10417591, 10417635, 10420909, 10420921, 10436147,
       10437111, 10440207, 10444245, 10444433, 10444615, 10467795,
       10467817, 10476373, 10492209, 10492651, 10501541, 10508029,
       10508041, 10508205, 10509031, 10509829, 10509841, 10509861,
       10509897, 10509937, 10534443, 10535375, 10535623, 10535639,
       10535777, 10535887, 10535927, 10536039, 10536083, 10536213,
       10536217, 10536229, 10536245, 10546393, 10548825, 10548855,
       10551389, 10551391, 10552003, 10557043, 10559513, 10586230,
       10586282, 10586310, 10589910, 10590180, 10590182, 10590270,
       10590756, 10590766, 10595484, 10595556, 10595596, 10595736,
       10595784, 10598976, 10598990, 10598996, 10599030, 10599064,
       10601912, 10609290, 10623708, 10632349, 10640443, 10640483,
       10642269, 10642289, 10642329, 10642421, 10642439, 10642445,
       10642459, 10642517, 10647453, 10647567, 10647595, 10647623,
       10647627, 10647639, 10647641, 10647653, 10647681, 10647687,
       10647695, 10647701, 10647715, 10647753, 10648705, 10648815,
       10648833, 10648977, 10648991, 10649001, 10649011, 10649013,
       10649191, 10649203, 10649277, 10649331, 10649333, 10649369,
       10649375, 10649653, 10649661, 10649671, 10649755, 10649759,
       10649763, 10649801, 10649813, 10649837, 10649855, 10649867,
       10649875, 10649879, 10649887, 10649907, 10649929, 10649937,
       10649949, 10649975, 10649977, 10649981, 10673807, 10677807,
       10690742, 10690866, 10691616, 10692172, 10692212, 10692386,
       10692972, 10693836, 10702066, 10703198, 10704320, 10705678,
       10733770, 10733872, 10733880, 10767706, 10767722, 10784360,
       10791640, 10805806, 10816488, 10850122, 10850206, 10850210,
       10850222, 10850230, 10850426, 10850462, 10850536, 10866254,
       10866388, 10910124, 10915918, 10915936, 10915944, 10915948,
       10915982, 10915984, 10915990, 10916026, 10916076, 10916094,
       10916154, 10916158, 10916160, 10934026, 10940418, 10955888,
       10955912, 11005024, 11006388, 11006976, 11013336, 11013438,
       11021894, 11074578, 11081920, 11099592, 11109405, 11111759,
       11154945, 11155037, 11156025, 11162793, 11166481, 11178213,
       11184119, 11199146, 11199156, 11199162, 11223088, 11228008,
       11302386, 11302444, 11366671, 11366675, 11366721, 11379687,
       11380041, 11446099, 11447748, 11450035, 11450555, 11450557,
       11452683, 11462018, 11466569, 11590454,  8145135,  8145501,
        8147703,  8149711,  8151717,  8151865,  8151875,  8152379,
        8152997,  8154603,  8156069,  8156517,  8158041,  8158929,
        8162613,  8164613,  8164917,  8166615,  8169453,  8170269,
        8170685,  8176593,  8176661,  8181075,  8183245,  8184653,
        8184833,  8188385,  8190255,  8191859,  8192225,  8193291,
        8194293,  8194483,  8194553,  8195803,  8196621,  8196659,
        8196669,  8196671,  8197553,  8198267,  8198319,  8198345,
        8201359,  8202127,  8205415,  8206031,  8208301,  8211009,
        8211517,  8211599,  8212579,  8216307,  8216911,  8219476,
        8219648,  8222320,  8222732,  8225846,  8232806,  8235450,
        8235810,  8239116,  8240044,  8244464,  8246180,  8247906,
        8247950,  8250528,  8252144,  8253394,  8255702,  8256188,
        8256218,  8256230,  8257034,  8257054,  8257918,  8258488,
        8258492,  8258494,  8258504,  8258512,  8258514,  8258516,
        8258518,  8258520,  8258532,  8258538,  8258542,  8258544,
        8258546,  8258550,  8258552,  8258554,  8258556,  8258558,
        8258562,  8258566,  8258568,  8258570,  8258572,  8258574,
        8258576,  8258578,  8258580,  8258582,  8258586,  8258590,
        8261442,  8261834,  8262806,  8264534,  8264666,  8268968,
        8269060,  8273230,  8273592,  8280746,  8281752,  8282088,
        8282216,  8282282,  8283406,  8283570,  8283940,  8288220,
        8288318,  8290408,  8291468,  8291638,  8291712,  8291994,
        8293070,  8293590,  8293986,  8294918,  8295284,  8300200,
        8301398,  8301402,  8302412,  8303200,  8305840,  8308380,
        8308588,  8313850,  8314306,  8316442,  8319748,  8320082,
        8324714,  8325398,  8326796,  8326818,  8326944,  8328122,
        8329102,  8329582,  8332754,  8334780,  8334894,  8342214,
        8342852,  8342962,  8347238,  8348398,  8349724,  8349726,
        8350000,  8350006,  8350090,  8351502,  8351602,  8352998,
        8355720,  8357494,  8357556,  8362616,  8363404,  8372652,
        8376656,  8380168,  8381642,  8381732,  8391298,  8391336,
        8391428,  8398346,  8398386,  8398428,  8403128,  8403186,
        8410090,  8410092,  8410094,  8410096,  8410108,  8410112,
        8410116,  8410118,  8410120,  8410126,  8410138,  8410140,
        8410142,  8410148,  8410172,  8410182,  8410186,  8410194,
        8410198,  8410200,  8410202,  8410204,  8410206,  8410210,
        8410214,  8410220,  8410222,  8410226,  8410228,  8410232,
        8410248,  8410266,  8410270,  8410280,  8410282,  8410288,
        8410292,  8410298,  8410310,  8417534,  8419708,  8425786,
        8426208,  8426236,  8428756,  8428768,  8429826,  8432046,
        8432218,  8436655,  8437479,  8437483,  8437485,  8437503,
        8437505,  8437513,  8437865,  8437877,  8440805,  8443173,
        8444411,  8447117,  8447633,  8448843,  8448951,  8450015,
        8450213,  8451629,  8451879,  8459427,  8460129,  8462159,
        8463245,  8463595,  8466525,  8472065,  8477775,  8478043,
        8478501,  8480049,  8482121,  8482269,  8485375,  8485395,
        8485607,  8486033,  8486809,  8487285,  8487297,  8487323,
        8487461,  8487801,  8490224,  8494882,  8496980,  8497375,
        8504552,  8505134,  8506178,  8506636,  8507838,  8507978,
        8509126,  8510130,  8511790,  8513978,  8513994,  8515542,
        8515546,  8515548,  8516182,  8516848,  8519102,  8519116,
        8520674,  8523058,  8525472,  8530300,  8540084,  8541106,
        8541534,  8541728,  8541742,  8547248,  8549798,  8549890,
        8557191,  8557605,  8559273,  8564141,  8566287,  8566343,
        8566459,  8567229,  8568209,  8568251,  8580383,  8586176,
        8586186,  8587388,  8587730,  8587790,  8591314,  8592064,
        8594790,  8595518,  8596508,  8597652,  8597678,  8597906,
        8597938,  8601834,  8603406,  8603960,  8603962,  8604434,
        8606609,  8606699,  8607775,  8610351,  8610419,  8612175,
        8617151,  8618165,  8629431,  8629745,  8629807,  8633165,
        8633477,  8634583,  8635681,  8635691,  8635697,  8637151,
        8638823,  8639555,  8641201,  8641615,  8645969,  8650127,
        8651957,  8655993,  8656643,  8657641,  8661542,  8663514,
        8664162,  8667906,  8667988,  8669722,  8670064,  8670298,
        8670560,  8670762,  8673172,  8673214,  8679346,  8679376,
        8680284,  8680538,  8680540,  8680544,  8680554,  8680558,
        8680560,  8680566,  8680568,  8680572,  8680574,  8680576,
        8680584,  8680608,  8680610,  8680612,  8680634,  8680642,
        8680678,  8680696,  8680700,  8680702,  8680714,  8684196,
        8684420,  8685932,  8686998,  8687150,  8687500,  8688128,
        8688266,  8693380,  8695070,  8695168,  8696818,  8696830,
        8706766,  8706822,  8715448,  8715464,  8717538,  8722960,
        8733828,  8741002,  8741088,  8742032,  8769898,  8769948,
        8778876,  8781072,  8781106,  8781184,  8804804,  8804828,
        8804946,  8807106,  8857298,  8860492,  8860536,  8867638,
        8909862,  8918616,  8922064,  8923928,  8923958,  8952328,
        8952356,  8952380,  8952808,  8952834,  8952864,  8955532,
        8957856,  8963294,  8989392,  8990434,  8995046,  9007296,
        9012348,  9012382,  9017860,  9018806,  9022084,  9023298,
        9027838,  9028604,  9028642,  9029356,  9029372,  9030348,
        9039172,  9047060,  9047094,  9047102,  9048344,  9048392,
        9048440,  9048478,  9053632,  9056966,  9057184,  9061046,
        9066428,  9068800,  9072324,  9072336,  9079776,  9083296,
        9083376,  9089208,  9090912,  9092758,  9092768,  9094976,
        9094980,  9095392,  9096156,  9102844,  9113654,  9113694,
        9120785,  9120805,  9136313,  9227175,  9228811,  9263153,
        9284157,  9297271,  9355840,  9356124,  9393680,  9438827,
        9588022,  9588028,  9701260,  9706672,  9736374,  9743108,
        9754366,  9754378,  9754382,  9754690,  9773288,  9773370,
        9773602,  9791762,  9791798,  9791932,  9791936,  9791952,
        9791960,  9792266,  9847352,  9860498,  9903314,  9909188,
        9949714,  9972132,  9985468,  9985522,  9985570,  9985634,
        9986650,  9988106,  9988412,  9997632], dtype=int64)

In [443]:
df['CUSTOMER_ID'] = df['CUSTOMER_ID'].astype(str)
df['CUSTOMER_ID']

0           10014678
1           10014678
2           10014678
3           10014678
4           10014678
              ...
10828115     9997632
10828116     9997632
10828117     9997632
10828118     9997632
10828119     9997632
Name: CUSTOMER_ID, Length: 10828120, dtype: object

In [444]:
df['READING_VALUE'] = df[' READING_VALUE'].astype(object)
df['READING_VALUE']

0                0.0
1                0.0
2                0.0
3                0.0
4              0.002
              ...
10828115    5373.626
10828116    5392.749
10828117     5411.35
10828118    5422.542
10828119    5425.509
Name: READING_VALUE, Length: 10828120, dtype: object

In [445]:
# df[df['gender'] == 'Male'][df['readmitted']=='<30']['length_of_stay'].mean()
# print(df.groupby(['age'])['diabetes'].value_counts())
#df[df['CUSTOMER_ID'] == '10014678'][df['READING_VALUE']]
#print(df.groupby(['CUSTOMER_ID'] == '10014678')['READING_VALUE'].value_counts()

## data of customer 10014678

In [446]:
# Choose entries with id p01
#df_new = df[df['Pid'] == 'p01']
# df_new = df[df['CUSOMTER_ID'] == 10014678]
#df[['CUSOMTER_ID'=10014678]]


# condition mask
mask = df['CUSTOMER_ID'] == '10014678'
#value = df['READING_VALUE'] == '>0'
# new dataframe with selected rows
df_new = pd.DataFrame(df[mask])
df_new.info()
df_new
#print(df_new.isnull().sum())
# for value in df_new:
#     if df_new['READING_VALUE'] > 0.000:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38747 entries, 0 to 38746
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CUSTOMER_ID     38747 non-null  object
 1   READING_TIME    38747 non-null  object
 2    PLUG_NAME      38747 non-null  object
 3    READING_VALUE  38747 non-null  float64
 4    CALENDAR_KEY   38747 non-null  int64
 5    RECORD_COUNT   38747 non-null  int64
 6   READING_VALUE   38747 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.4+ MB

,CUSTOMER_ID,READING_TIME,PLUG_NAME,READING_VALUE,CALENDAR_KEY,RECORD_COUNT,READING_VALUE
0,10014678,2013-08-19 14:48:40,Microwave,0.000,281420,1,0.0
1,10014678,2013-08-19 14:48:40,TV,0.000,281420,1,0.0
2,10014678,2013-08-19 14:48:41,Dishwasher,0.000,281420,1,0.0
3,10014678,2013-08-19 14:48:41,Kettle,0.000,281420,1,0.0
4,10014678,2013-08-19 14:48:41,WashingMachine,0.002,281420,1,0.002
...,...,...,...,...,...,...,...
38742,10014678,2014-02-28 19:33:55,TV,134.945,342073,1,134.945
38743,10014678,2014-02-28 19:33:56,Kettle,58.570,342073,1,58.57
38744,10014678,2014-02-28 19:33:56,WashingMachine,53.727,342073,1,53.727
38745,10014678,2014-02-28 19:33:57,AirCon,82.260,342073,1,82.26
38746,10014678,2014-02-28 19:33:57,Microwave,28.626,342073,1,28.626

# # extract time of a day

In [447]:
print(list(df_new['READING_TIME'].head(400)))

['2013-08-19 14:48:40', '2013-08-19 14:48:40', '2013-08-19 14:48:41', '2013-08-19 14:48:41', '2013-08-19 14:48:41', '2013-08-19 14:48:42', '2013-08-19 15:18:42', '2013-08-19 15:18:43', '2013-08-19 15:18:43', '2013-08-19 15:18:43', '2013-08-19 15:18:44', '2013-08-19 15:18:44', '2013-08-19 15:48:55', '2013-08-19 15:48:55', '2013-08-19 15:48:55', '2013-08-19 15:48:56', '2013-08-19 15:48:56', '2013-08-19 15:48:56', '2013-08-19 16:19:07', '2013-08-19 16:19:08', '2013-08-19 16:19:08', '2013-08-19 16:19:08', '2013-08-19 16:19:09', '2013-08-19 16:19:09', '2013-08-19 16:49:19', '2013-08-19 16:49:20', '2013-08-19 16:49:20', '2013-08-19 16:49:20', '2013-08-19 16:49:21', '2013-08-19 16:49:21', '2013-08-19 17:19:32', '2013-08-19 17:19:32', '2013-08-19 17:19:32', '2013-08-19 17:19:33', '2013-08-19 17:19:33', '2013-08-19 17:19:33', '2013-08-19 17:49:44', '2013-08-19 17:49:44', '2013-08-19 17:49:44', '2013-08-19 17:49:45', '2013-08-19 17:49:45', '2013-08-19 17:49:45', '2013-08-19 18:19:56', '2013-08-19 18:19:56', '2013-08-19 18:19:57', '2013-08-19 18:19:57', '2013-08-19 18:19:57', '2013-08-19 18:19:58', '2013-08-19 18:50:08', '2013-08-19 18:50:08', '2013-08-19 18:50:09', '2013-08-19 18:50:09', '2013-08-19 18:50:09', '2013-08-19 18:50:10', '2013-08-19 19:20:20', '2013-08-19 19:20:21', '2013-08-19 19:20:21', '2013-08-19 19:20:21', '2013-08-19 19:20:22', '2013-08-19 19:20:22', '2013-08-19 19:50:32', '2013-08-19 19:50:33', '2013-08-19 19:50:33', '2013-08-19 19:50:35', '2013-08-19 19:50:35', '2013-08-19 20:20:45', '2013-08-19 20:20:45', '2013-08-19 20:20:45', '2013-08-19 20:20:46', '2013-08-19 20:20:46', '2013-08-19 20:20:46', '2013-08-19 20:50:57', '2013-08-19 20:50:58', '2013-08-19 20:50:58', '2013-08-19 20:50:58', '2013-08-19 20:50:59', '2013-08-19 20:50:59', '2013-08-19 21:21:09', '2013-08-19 21:21:10', '2013-08-19 21:21:10', '2013-08-19 21:21:10', '2013-08-19 21:21:11', '2013-08-19 21:21:11', '2013-08-19 21:51:21', '2013-08-19 21:51:22', '2013-08-19 21:51:22', '2013-08-19 21:51:23', '2013-08-19 21:51:23', '2013-08-19 21:51:23', '2013-08-19 22:21:32', '2013-08-19 22:21:33', '2013-08-19 22:21:33', '2013-08-19 22:21:33', '2013-08-19 22:21:34', '2013-08-19 22:21:34', '2013-08-19 22:51:45', '2013-08-19 22:51:45', '2013-08-19 22:51:45', '2013-08-19 22:51:46', '2013-08-19 22:51:46', '2013-08-19 22:51:46', '2013-08-19 23:21:57', '2013-08-19 23:21:57', '2013-08-19 23:21:57', '2013-08-19 23:21:58', '2013-08-19 23:21:58', '2013-08-19 23:21:58', '2013-08-19 23:52:09', '2013-08-19 23:52:09', '2013-08-19 23:52:09', '2013-08-19 23:52:10', '2013-08-19 23:52:10', '2013-08-19 23:52:10', '2013-08-20 00:22:21', '2013-08-20 00:22:21', '2013-08-20 00:22:21', '2013-08-20 00:22:22', '2013-08-20 00:22:22', '2013-08-20 00:22:23', '2013-08-20 00:52:33', '2013-08-20 00:52:33', '2013-08-20 00:52:33', '2013-08-20 00:52:34', '2013-08-20 00:52:34', '2013-08-20 00:52:35', '2013-08-20 01:22:45', '2013-08-20 01:22:45', '2013-08-20 01:22:46', '2013-08-20 01:22:46', '2013-08-20 01:22:46', '2013-08-20 01:22:47', '2013-08-20 01:52:53', '2013-08-20 01:52:54', '2013-08-20 01:52:54', '2013-08-20 01:52:54', '2013-08-20 01:52:55', '2013-08-20 01:52:55', '2013-08-20 02:23:05', '2013-08-20 02:23:06', '2013-08-20 02:23:06', '2013-08-20 02:23:06', '2013-08-20 02:23:07', '2013-08-20 02:23:07', '2013-08-20 02:53:18', '2013-08-20 02:53:18', '2013-08-20 02:53:18', '2013-08-20 02:53:19', '2013-08-20 02:53:19', '2013-08-20 02:53:19', '2013-08-20 03:23:30', '2013-08-20 03:23:30', '2013-08-20 03:23:31', '2013-08-20 03:23:31', '2013-08-20 03:23:31', '2013-08-20 03:23:32', '2013-08-20 03:53:42', '2013-08-20 03:53:42', '2013-08-20 03:53:43', '2013-08-20 03:53:43', '2013-08-20 03:53:43', '2013-08-20 03:53:44', '2013-08-20 04:23:54', '2013-08-20 04:23:54', '2013-08-20 04:23:55', '2013-08-20 04:23:55', '2013-08-20 04:23:55', '2013-08-20 04:23:56', '2013-08-20 04:54:07', '2013-08-20 04:54:07', '2013-08-20 04:54:08', '2013-08-20 04:54:08', '2013-08-20 04:54:08', '2013-08-20 04:54:09', '2013-08-20 05:24:19', '2013-08-20 05:24:19', '2013-08-20 05:24:20', '2013-08-20 05:24:21', '2013-08-20 05:24:22', '2013-08-20 05:54:31', '2013-08-20 05:54:31', '2013-08-20 05:54:32', '2013-08-20 05:54:32', '2013-08-20 05:54:32', '2013-08-20 05:54:33', '2013-08-20 06:24:42', '2013-08-20 06:24:42', '2013-08-20 06:24:42', '2013-08-20 06:24:43', '2013-08-20 06:24:43', '2013-08-20 06:24:44', '2013-08-20 06:54:54', '2013-08-20 06:54:54', '2013-08-20 06:54:54', '2013-08-20 06:54:55', '2013-08-20 06:54:55', '2013-08-20 06:54:56', '2013-08-20 07:25:06', '2013-08-20 07:25:08', '2013-08-20 07:25:08', '2013-08-20 07:25:08', '2013-08-20 07:25:09', '2013-08-20 07:55:18', '2013-08-20 07:55:18', '2013-08-20 07:55:19', '2013-08-20 07:55:19', '2013-08-20 07:55:20', '2013-08-20 07:55:20', '2013-08-20 08:25:30', '2013-08-20 08:25:31', '2013-08-20 08:25:31', '2013-08-20 08:25:31', '2013-08-20 08:25:32', '2013-08-20 08:25:32', '2013-08-20 08:45:02', '2013-08-20 08:45:02', '2013-08-20 08:45:03', '2013-08-20 08:45:03', '2013-08-20 08:45:03', '2013-08-20 08:45:04', '2013-08-20 09:00:00', '2013-08-20 09:00:01', '2013-08-20 09:00:01', '2013-08-20 09:00:02', '2013-08-20 09:00:02', '2013-08-20 09:00:02', '2013-08-20 09:30:13', '2013-08-20 09:30:13', '2013-08-20 09:30:14', '2013-08-20 09:30:14', '2013-08-20 09:30:15', '2013-08-20 09:30:15', '2013-08-20 10:00:24', '2013-08-20 10:00:24', '2013-08-20 10:00:25', '2013-08-20 10:00:25', '2013-08-20 10:00:25', '2013-08-20 10:00:26', '2013-08-20 10:30:59', '2013-08-20 10:30:59', '2013-08-20 10:30:59', '2013-08-20 10:31:00', '2013-08-20 10:31:00', '2013-08-20 10:31:00', '2013-08-20 11:01:11', '2013-08-20 11:01:11', '2013-08-20 11:01:11', '2013-08-20 11:01:12', '2013-08-20 11:01:12', '2013-08-20 11:01:13', '2013-08-20 11:31:23', '2013-08-20 11:31:23', '2013-08-20 11:31:24', '2013-08-20 11:31:24', '2013-08-20 11:31:25', '2013-08-20 11:31:25', '2013-08-20 12:01:34', '2013-08-20 12:01:34', '2013-08-20 12:01:34', '2013-08-20 12:01:35', '2013-08-20 12:01:35', '2013-08-20 12:01:35', '2013-08-20 12:31:41', '2013-08-20 12:31:41', '2013-08-20 12:31:42', '2013-08-20 12:31:42', '2013-08-20 12:31:42', '2013-08-20 12:31:43', '2013-08-20 13:01:53', '2013-08-20 13:01:53', '2013-08-20 13:01:54', '2013-08-20 13:01:54', '2013-08-20 13:01:55', '2013-08-20 13:01:55', '2013-08-20 13:32:04', '2013-08-20 13:32:04', '2013-08-20 13:32:05', '2013-08-20 13:32:05', '2013-08-20 13:32:05', '2013-08-20 13:32:06', '2013-08-20 14:02:16', '2013-08-20 14:02:16', '2013-08-20 14:02:17', '2013-08-20 14:02:19', '2013-08-20 14:02:19', '2013-08-20 14:32:28', '2013-08-20 14:32:28', '2013-08-20 14:32:29', '2013-08-20 14:32:29', '2013-08-20 14:32:30', '2013-08-20 14:32:30', '2013-08-20 15:02:41', '2013-08-20 15:02:41', '2013-08-20 15:02:41', '2013-08-20 15:02:43', '2013-08-20 15:02:44', '2013-08-20 15:32:53', '2013-08-20 15:32:53', '2013-08-20 15:32:54', '2013-08-20 15:32:54', '2013-08-20 15:32:54', '2013-08-20 15:32:55', '2013-08-20 16:03:05', '2013-08-20 16:03:05', '2013-08-20 16:03:06', '2013-08-20 16:03:06', '2013-08-20 16:03:06', '2013-08-20 16:03:07', '2013-08-20 16:33:17', '2013-08-20 16:33:18', '2013-08-20 16:33:18', '2013-08-20 16:33:18', '2013-08-20 16:33:19', '2013-08-20 16:33:19', '2013-08-20 17:03:29', '2013-08-20 17:03:30', '2013-08-20 17:03:30', '2013-08-20 17:03:30', '2013-08-20 17:03:31', '2013-08-20 17:03:31', '2013-08-20 17:33:41', '2013-08-20 17:33:42', '2013-08-20 17:33:42', '2013-08-20 17:33:42', '2013-08-20 17:33:43', '2013-08-20 17:33:43', '2013-08-20 18:03:53', '2013-08-20 18:03:54', '2013-08-20 18:03:54', '2013-08-20 18:03:55', '2013-08-20 18:03:56', '2013-08-20 18:34:05', '2013-08-20 18:34:06', '2013-08-20 18:34:06', '2013-08-20 18:34:07', '2013-08-20 18:34:07', '2013-08-20 18:34:07', '2013-08-20 19:04:18', '2013-08-20 19:04:18', '2013-08-20 19:04:19', '2013-08-20 19:04:19', '2013-08-20 19:04:19', '2013-08-20 19:04:20', '2013-08-20 19:34:30', '2013-08-20 19:34:30', '2013-08-20 19:34:30', '2013-08-20 19:34:31', '2013-08-20 19:34:31', '2013-08-20 19:34:32', '2013-08-20 20:04:43', '2013-08-20 20:04:43', '2013-08-20 20:04:43', '2013-08-20 20:04:44', '2013-08-20 20:04:44', '2013-08-20 20:04:44', '2013-08-20 20:34:55', '2013-08-20 20:34:55', '2013-08-20 20:34:57', '2013-08-20 20:34:57', '2013-08-20 20:34:58', '2013-08-20 21:05:07', '2013-08-20 21:05:07', '2013-08-20 21:05:07', '2013-08-20 21:05:09', '2013-08-20 21:05:10', '2013-08-20 21:35:19', '2013-08-20 21:35:19', '2013-08-20 21:35:20', '2013-08-20 21:35:22', '2013-08-20 21:35:22', '2013-08-20 22:05:31', '2013-08-20 22:05:31', '2013-08-20 22:05:32', '2013-08-20 22:05:32', '2013-08-20 22:05:32', '2013-08-20 22:05:33', '2013-08-20 22:35:43', '2013-08-20 22:35:44', '2013-08-20 22:35:44', '2013-08-20 22:35:45', '2013-08-20 22:35:45', '2013-08-20 22:35:45', '2013-08-20 23:05:56', '2013-08-20 23:05:56', '2013-08-20 23:05:56', '2013-08-20 23:05:57', '2013-08-20 23:05:57', '2013-08-20 23:05:57', '2013-08-20 23:36:08', '2013-08-20 23:36:08', '2013-08-20 23:36:08', '2013-08-20 23:36:09', '2013-08-20 23:36:09', '2013-08-20 23:36:10', '2013-08-21 00:06:20', '2013-08-21 00:06:20', '2013-08-21 00:06:20', '2013-08-21 00:06:21', '2013-08-21 00:06:21', '2013-08-21 00:06:22', '2013-08-21 00:36:32']

In [448]:
#df_new['READING_TIME']

## extract data of  19/08/2013

In [449]:
import numpy as np
from datetime import datetime

In [450]:
date_string = df_new['READING_TIME'][0]
date_string
date_object = datetime.strptime(date_string, '%Y-%m-%d %H:%M:%S')
date_object.year
new_year = date_object.year
new_month = date_object.month
new_date = date_object.day

print(new_year)
print(new_month)
print(new_date)

2013
8
19

In [451]:
# newTimeArray = []

# newTimeArray
# print(Time_array[0])
# print(Time_array[1])
# print(Time_array[2])

#  for index, value in enumerate(my_array):
#    print(f"Index: {index}, Value: {value}")

hour_array=[]
Time_array = df_new['READING_TIME']
for index, value in enumerate(Time_array):
    #print(f"Index: {index}, Value: {value}")
    # Input string
    date_string = value

    # Convert the string to a datetime object
    date_object = datetime.strptime(date_string, '%Y-%m-%d %H:%M:%S')

    # Extract the hour value
    hour_value = date_object.hour
    year_value = date_object.year
    month_value = date_object.month
    date_value = date_object.day
    
    if ( (year_value == 2013) and (month_value == 8) and (date_value == 20) ):
        # Create an array and store the hour value
        hour_array.append(hour_value)

print(hour_array)
print(len(hour_array))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23]
280

In [452]:
import pandas as pd
df_time = pd.DataFrame(hour_array)
df_time.columns=['Hour']
df_time

     Hour
0       0
1       0
2       0
3       0
4       0
..    ...
275    23
276    23
277    23
278    23
279    23

[280 rows x 1 columns]

In [454]:
arr=[df_new[df_new['READING_TIME'] == '2013-08-19 14:48:41']]
arr

[  CUSTOMER_ID         READING_TIME       PLUG_NAME   READING_VALUE  \
 2    10014678  2013-08-19 14:48:41      Dishwasher           0.000
 3    10014678  2013-08-19 14:48:41          Kettle           0.000
 4    10014678  2013-08-19 14:48:41  WashingMachine           0.002

     CALENDAR_KEY   RECORD_COUNT READING_VALUE
 2         281420              1           0.0
 3         281420              1           0.0
 4         281420              1         0.002  ]

# # Find all possible activities of 20/8/2013

In [455]:
#df.index[df['BoolCol'] == True].tolist()
#df.loc[operator.or_(df.C > 0.25

sorted_plug1 = []
dataindex=[]
i=0
for index, value in enumerate(df_new['READING_TIME']):
    #print(f"Index: {index}, Value: {value}")
    # Input string
    date_string = value
    # Convert the string to a datetime object
    date_object = datetime.strptime(date_string, '%Y-%m-%d %H:%M:%S')
    # Extract the hour value
    data_hour = date_object.hour
    data_year = date_object.year
    data_month = date_object.month
    data_date = date_object.day
    
    if((data_year == 2013) and (data_month == 8) and (data_date == 20) and (data_hour ==17)):
        #sort PLUG_name based on hour
        x = df[' READING_VALUE'][index]
        print('Reading_V : ', x)
        
        if x >= 0.000:
            dataindex.append(index)
            sorted_plug1.append(df[' PLUG_NAME'][index])
            
        
print(dataindex,'\n',sorted_plug1)

Reading_V :  0.283
Reading_V :  0.029
Reading_V :  0.485
Reading_V :  0.06
Reading_V :  0.533
Reading_V :  1.394
Reading_V :  0.285
Reading_V :  0.029
Reading_V :  0.523
Reading_V :  0.061
Reading_V :  0.533
Reading_V :  1.396
[313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324]
 ['Microwave', 'Dishwasher', 'TV', 'WashingMachine', 'Kettle', 'AirCon', 'Microwave', 'Dishwasher', 'TV', 'WashingMachine', 'Kettle', 'AirCon']

In [468]:
def eachHour(TargetTime):
    
    sorted_plug1 = []
    dataindex=[]
    for index, value in enumerate(df_new['READING_TIME']):
        #print(f"Index: {index}, Value: {value}")
        # Input string
        date_string = value
        # Convert the string to a datetime object
        date_object = datetime.strptime(date_string, '%Y-%m-%d %H:%M:%S')
        # Extract the hour value
        data_hour = date_object.hour
        data_year = date_object.year
        data_month = date_object.month
        data_date = date_object.day

        if((data_year == 2013) and (data_month == 8) and (data_date == 20) and (data_hour ==TargetTime)):
            #sort PLUG_name based on hour
            x = df[' READING_VALUE'][index]
#             print('Reading_V : ', x)

            if x >= 0.2:
                dataindex.append(index)
                sorted_plug1.append(df[' PLUG_NAME'][index])
    return sorted_plug1         
    #print('sorted_plug1: ',sorted_plug1)

In [469]:
Time0 = eachHour(0)
Time1= eachHour(1)
Time2= eachHour(2)
Time3= eachHour(3)
Time4= eachHour(4)
Time5= eachHour(5)
Time6= eachHour(6)
Time7= eachHour(7)
Time8= eachHour(8)
Time9= eachHour(9)
Time10= eachHour(10)
Time11= eachHour(11)
Time12= eachHour(12)
Time13= eachHour(13)
Time14= eachHour(14)
Time15= eachHour(15)
Time16= eachHour(16)
Time17= eachHour(17)
Time18= eachHour(18)
Time19= eachHour(19)
Time20= eachHour(20)
Time21= eachHour(21)
Time22= eachHour(22)
Time23= eachHour(23)
print('Time : 0',Time0)
print('Time : 1',Time1)
print('Time : 2',Time2)
print('Time : 3',Time3)
print('Time : 4',Time4)
print('Time : 5',Time5)
print('Time : 6',Time6)
print('Time : 7',Time7)
print('Time : 8',Time8)
print('Time : 9',Time9)
print('Time : 10',Time10)
print('Time : 11',Time11)
print('Time : 12',Time12)
print('Time : 13',Time13)
print('Time : 14',Time14)
print('Time : 15',Time15)
print('Time : 16',Time16)
print('Time : 17',Time17)
print('Time : 18',Time18)
print('Time : 19',Time19)
print('Time : 20',Time20)
print('Time : 21',Time21)
print('Time : 22',Time22)
print('Time : 23',Time23)

Time : 0 ['TV', 'Kettle', 'TV', 'Kettle']
Time : 1 ['TV', 'Kettle', 'TV', 'Kettle']
Time : 2 ['TV', 'Kettle', 'TV', 'Kettle']
Time : 3 ['TV', 'Kettle', 'TV', 'Kettle']
Time : 4 ['TV', 'Kettle', 'TV', 'Kettle']
Time : 5 ['TV', 'Kettle', 'TV', 'Kettle']
Time : 6 ['TV', 'Kettle', 'TV', 'Kettle']
Time : 7 ['Kettle', 'TV', 'Kettle']
Time : 8 ['TV', 'Kettle', 'TV', 'Kettle']
Time : 9 ['TV', 'Kettle', 'TV', 'Kettle']
Time : 10 ['TV', 'Kettle', 'TV', 'Kettle', 'AirCon']
Time : 11 ['TV', 'Kettle', 'AirCon', 'TV', 'Kettle', 'AirCon']
Time : 12 ['TV', 'Kettle', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']
Time : 13 ['Microwave', 'TV', 'Kettle', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']
Time : 14 ['Microwave', 'TV', 'Kettle', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']
Time : 15 ['Microwave', 'TV', 'Kettle', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']
Time : 16 ['Microwave', 'TV', 'Kettle', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']
Time : 17 ['Microwave', 'TV', 'Kettle', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']
Time : 18 ['Microwave', 'TV', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']
Time : 19 ['Microwave', 'TV', 'Kettle', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']
Time : 20 ['Microwave', 'TV', 'Kettle', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']
Time : 21 ['Microwave', 'TV', 'Kettle', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']
Time : 22 ['Microwave', 'TV', 'Dishwasher', 'Kettle', 'AirCon', 'Microwave', 'Dishwasher', 'TV', 'Kettle', 'AirCon']
Time : 23 ['Dishwasher', 'Microwave', 'TV', 'Kettle', 'AirCon', 'Dishwasher', 'Microwave', 'TV', 'Kettle', 'AirCon']

In [470]:
Time0

['TV', 'Kettle', 'TV', 'Kettle']

In [471]:
data = pd.DataFrame(columns=['Time', 'Categories'])
data['Time'] = ['Time' + str(i) for i in range(24)]
data['Categories'] = [Time0,Time1,Time2,Time3,Time4,Time5,Time6,Time7,
                       Time8,Time9,Time10,Time11,Time12,Time13,Time14,Time15,
                      Time16,Time17,Time18,Time19,Time20,Time21,Time22,Time23]

# Association

In [472]:
data

      Time                                         Categories
0    Time0                           [TV, Kettle, TV, Kettle]
1    Time1                           [TV, Kettle, TV, Kettle]
2    Time2                           [TV, Kettle, TV, Kettle]
3    Time3                           [TV, Kettle, TV, Kettle]
4    Time4                           [TV, Kettle, TV, Kettle]
5    Time5                           [TV, Kettle, TV, Kettle]
6    Time6                           [TV, Kettle, TV, Kettle]
7    Time7                               [Kettle, TV, Kettle]
8    Time8                           [TV, Kettle, TV, Kettle]
9    Time9                           [TV, Kettle, TV, Kettle]
10  Time10                   [TV, Kettle, TV, Kettle, AirCon]
11  Time11           [TV, Kettle, AirCon, TV, Kettle, AirCon]
12  Time12  [TV, Kettle, AirCon, Microwave, TV, Kettle, Ai...
13  Time13  [Microwave, TV, Kettle, AirCon, Microwave, TV,...
14  Time14  [Microwave, TV, Kettle, AirCon, Microwave, TV,...
15  Time15  [Microwave, TV, Kettle, AirCon, Microwave, TV,...
16  Time16  [Microwave, TV, Kettle, AirCon, Microwave, TV,...
17  Time17  [Microwave, TV, Kettle, AirCon, Microwave, TV,...
18  Time18  [Microwave, TV, AirCon, Microwave, TV, Kettle,...
19  Time19  [Microwave, TV, Kettle, AirCon, Microwave, TV,...
20  Time20  [Microwave, TV, Kettle, AirCon, Microwave, TV,...
21  Time21  [Microwave, TV, Kettle, AirCon, Microwave, TV,...
22  Time22  [Microwave, TV, Dishwasher, Kettle, AirCon, Mi...
23  Time23  [Dishwasher, Microwave, TV, Kettle, AirCon, Di...

In [473]:
data['Time'] = data['Time'].astype('str')
data['Categories'] = data['Categories'].astype('str')

In [474]:
transactions1 = data.groupby(['Time'])['Categories'].apply(list)
print(transactions1.head(5))

Time
Time0                    [['TV', 'Kettle', 'TV', 'Kettle']]
Time1                    [['TV', 'Kettle', 'TV', 'Kettle']]
Time10         [['TV', 'Kettle', 'TV', 'Kettle', 'AirCon']]
Time11    [['TV', 'Kettle', 'AirCon', 'TV', 'Kettle', 'A...
Time12    [['TV', 'Kettle', 'AirCon', 'Microwave', 'TV',...
Name: Categories, dtype: object

In [475]:
!pip install apyori

Requirement already satisfied: apyori in c:\users\john\anaconda3\lib\site-packages (1.1.2)

In [486]:
from apyori import apriori
# type cast the transactions from pandas into normal list format and run apriori
transaction_list = list(transactions1)
results = list(apriori(transaction_list, min_support=0.001))
# print first 5 rules
print(results[:5])

[RelationRecord(items=frozenset({"['Dishwasher', 'Microwave', 'TV', 'Kettle', 'AirCon', 'Dishwasher', 'Microwave', 'TV', 'Kettle', 'AirCon']"}), support=0.041666666666666664, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({"['Dishwasher', 'Microwave', 'TV', 'Kettle', 'AirCon', 'Dishwasher', 'Microwave', 'TV', 'Kettle', 'AirCon']"}), confidence=0.041666666666666664, lift=1.0)]), RelationRecord(items=frozenset({"['Kettle', 'TV', 'Kettle']"}), support=0.041666666666666664, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({"['Kettle', 'TV', 'Kettle']"}), confidence=0.041666666666666664, lift=1.0)]), RelationRecord(items=frozenset({"['Microwave', 'TV', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']"}), support=0.041666666666666664, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({"['Microwave', 'TV', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']"}), confidence=0.041666666666666664, lift=1.0)]), RelationRecord(items=frozenset({"['Microwave', 'TV', 'Dishwasher', 'Kettle', 'AirCon', 'Microwave', 'Dishwasher', 'TV', 'Kettle', 'AirCon']"}), support=0.041666666666666664, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({"['Microwave', 'TV', 'Dishwasher', 'Kettle', 'AirCon', 'Microwave', 'Dishwasher', 'TV', 'Kettle', 'AirCon']"}), confidence=0.041666666666666664, lift=1.0)]), RelationRecord(items=frozenset({"['Microwave', 'TV', 'Kettle', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']"}), support=0.3333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({"['Microwave', 'TV', 'Kettle', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']"}), confidence=0.3333333333333333, lift=1.0)])]

In [489]:
def convert_apriori_results_to_pandas_df(results):
    rules = []
    
    for rule_set in results:
        for rule in rule_set.ordered_statistics:
            # items_base = left side of rules, items_add = right side
            # support, confidence and lift for respective rules
            rules.append([','.join(rule.items_base), ','.join(rule.items_add),
                         rule_set.support, rule.confidence, rule.lift]) 
    
    # typecast it to pandas df
    return pd.DataFrame(rules, columns=['Left_side', 'Right_side', 'Support', 
                                        'Confidence', 'Lift']) 

result_df = convert_apriori_results_to_pandas_df(results)

print(result_df.head(10))

  Left_side                                         Right_side   Support  \
0            ['Dishwasher', 'Microwave', 'TV', 'Kettle', 'A...  0.041667
1                                   ['Kettle', 'TV', 'Kettle']  0.041667
2            ['Microwave', 'TV', 'AirCon', 'Microwave', 'TV...  0.041667
3            ['Microwave', 'TV', 'Dishwasher', 'Kettle', 'A...  0.041667
4            ['Microwave', 'TV', 'Kettle', 'AirCon', 'Micro...  0.333333
5            ['TV', 'Kettle', 'AirCon', 'Microwave', 'TV', ...  0.041667
6            ['TV', 'Kettle', 'AirCon', 'TV', 'Kettle', 'Ai...  0.041667
7                   ['TV', 'Kettle', 'TV', 'Kettle', 'AirCon']  0.041667
8                             ['TV', 'Kettle', 'TV', 'Kettle']  0.375000

   Confidence  Lift
0    0.041667   1.0
1    0.041667   1.0
2    0.041667   1.0
3    0.041667   1.0
4    0.333333   1.0
5    0.041667   1.0
6    0.041667   1.0
7    0.041667   1.0
8    0.375000   1.0

# show the first 5 sequences

In [478]:
transactions = data.groupby(['Time'])['Categories'].apply(list)
sequences = transactions.values.tolist()
# show the first 5 sequences
print(sequences[:5])

[["['TV', 'Kettle', 'TV', 'Kettle']"], ["['TV', 'Kettle', 'TV', 'Kettle']"], ["['TV', 'Kettle', 'TV', 'Kettle', 'AirCon']"], ["['TV', 'Kettle', 'AirCon', 'TV', 'Kettle', 'AirCon']"], ["['TV', 'Kettle', 'AirCon', 'Microwave', 'TV', 'Kettle', 'AirCon']"]]