# Data 2012~2013

In [65]:
import pandas as pd
# read the veteran dataset
df_2012_2013 = pd.read_csv('./2012-2013 Solar home electricity data v2.csv')
df_2012_2013.info()

C:\Users\John\AppData\Local\Temp\ipykernel_19120\2583469665.py:3: DtypeWarning: Columns (0,1,2,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2012_2013 = pd.read_csv('./2012-2013 Solar home electricity data v2.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268558 entries, 0 to 268557
Data columns (total 54 columns):
 #   Column                                                                                                                                                            Non-Null Count   Dtype
---  ------                                                                                                                                                            --------------   -----
 0   2012-2013 Solar home electricity data - Before using this data, please read the attached pdf document "Ausgrid solar home electricity data notes (Aug 2014).pdf"  268558 non-null  object
 1   Unnamed: 1                                                                                                                                                        268558 non-null  object
 2   Unnamed: 2                                                                                                                                                        268558 non-null  object
 3   Unnamed: 3                                                                                                                                                        268558 non-null  object
 4   Unnamed: 4                                                                                                                                                        268558 non-null  object
 5   Unnamed: 5                                                                                                                                                        268558 non-null  object
 6   Unnamed: 6                                                                                                                                                        268558 non-null  object
 7   Unnamed: 7                                                                                                                                                        268558 non-null  object
 8   Unnamed: 8                                                                                                                                                        268558 non-null  object
 9   Unnamed: 9                                                                                                                                                        268558 non-null  object
 10  Unnamed: 10                                                                                                                                                       268558 non-null  object
 11  Unnamed: 11                                                                                                                                                       268558 non-null  object
 12  Unnamed: 12                                                                                                                                                       268558 non-null  object
 13  Unnamed: 13                                                                                                                                                       268558 non-null  object
 14  Unnamed: 14                                                                                                                                                       268558 non-null  object
 15  Unnamed: 15                                                                                                                                                       268558 non-null  object
 16  Unnamed: 16                                                                                                                                                       268558 non-null  object
 17  Unnamed: 17                                                                                                                                                       268558 non-null  object
 18  Unnamed: 18                                                                                                                                                       268558 non-null  object
 19  Unnamed: 19                                                                                                                                                       268558 non-null  object
 20  Unnamed: 20                                                                                                                                                       268558 non-null  object
 21  Unnamed: 21                                                                                                                                                       268558 non-null  object
 22  Unnamed: 22                                                                                                                                                       268558 non-null  object
 23  Unnamed: 23                                                                                                                                                       268558 non-null  object
 24  Unnamed: 24                                                                                                                                                       268558 non-null  object
 25  Unnamed: 25                                                                                                                                                       268558 non-null  object
 26  Unnamed: 26                                                                                                                                                       268558 non-null  object
 27  Unnamed: 27                                                                                                                                                       268558 non-null  object
 28  Unnamed: 28                                                                                                                                                       268558 non-null  object
 29  Unnamed: 29                                                                                                                                                       268558 non-null  object
 30  Unnamed: 30                                                                                                                                                       268558 non-null  object
 31  Unnamed: 31                                                                                                                                                       268558 non-null  object
 32  Unnamed: 32                                                                                                                                                       268558 non-null  object
 33  Unnamed: 33                                                                                                                                                       268558 non-null  object
 34  Unnamed: 34                                                                                                                                                       268558 non-null  object
 35  Unnamed: 35                                                                                                                                                       268558 non-null  object
 36  Unnamed: 36                                                                                                                                                       268558 non-null  object
 37  Unnamed: 37                                                                                                                                                       268558 non-null  object
 38  Unnamed: 38                                                                                                                                                       268558 non-null  object
 39  Unnamed: 39                                                                                                                                                       268558 non-null  object
 40  Unnamed: 40                                                                                                                                                       268558 non-null  object
 41  Unnamed: 41                                                                                                                                                       268558 non-null  object
 42  Unnamed: 42                                                                                                                                                       268558 non-null  object
 43  Unnamed: 43                                                                                                                                                       268558 non-null  object
 44  Unnamed: 44                                                                                                                                                       268558 non-null  object
 45  Unnamed: 45                                                                                                                                                       268558 non-null  object
 46  Unnamed: 46                                                                                                                                                       268558 non-null  object
 47  Unnamed: 47                                                                                                                                                       268558 non-null  object
 48  Unnamed: 48                                                                                                                                                       268558 non-null  object
 49  Unnamed: 49                                                                                                                                                       268558 non-null  object
 50  Unnamed: 50                                                                                                                                                       268558 non-null  object
 51  Unnamed: 51                                                                                                                                                       268558 non-null  object
 52  Unnamed: 52                                                                                                                                                       268558 non-null  object
 53  Unnamed: 53                                                                                                                                                       1 non-null       object
dtypes: object(54)
memory usage: 110.6+ MB

In [66]:
df_2012_2013.columns = ['Customer','Generator Capacity','Postcode','Consumption Category','date','0:30',
                  '1:00','1:30','2:00','2:30','3:00','3:30','4:00','4:30','5:00',
                  '5:30','6:00','6:30','7:00','7:30','8:00','8:30','9:00','9:30',
                  '10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30',
                  '14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30',
                  '18:00','18:30','19:00','19:30','20:00','20:30','21:00','21:30',
                  '22:00','22:30','23:00','23:30','0:00','Row Quality']

In [67]:
# df_raw.info()
df_2012_2013.head(20)

,Customer,Generator Capacity,Postcode,Consumption Category,date,0:30,1:00,1:30,2:00,2:30,...,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30,0:00,Row Quality
0,Customer,Generator Capacity,Postcode,Consumption Category,date,0:30,1:00,1:30,2:00,2:30,...,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30,0:00,Row Quality
1,1,3.78,2076,CL,1/07/2012,1.25,1.25,1.25,1.263,0.131,...,0,0,0,0,0,0,0,0,1.081,NaN
2,1,3.78,2076,GC,1/07/2012,0.855,0.786,0.604,0.544,0.597,...,0.374,0.447,0.549,0.136,0.288,0.181,0.651,0.09,0.068,NaN
3,1,3.78,2076,GG,1/07/2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,1,3.78,2076,CL,2/07/2012,1.25,1.25,1.125,0,0.925,...,0,0,0,0,0,0,0,0,1.069,NaN
5,1,3.78,2076,GC,2/07/2012,0.309,0.082,0.059,0.097,0.29,...,0.353,0.464,0.229,0.811,0.222,0.306,1.034,0.136,0.067,NaN
6,1,3.78,2076,GG,2/07/2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
7,1,3.78,2076,CL,3/07/2012,1.244,1.25,1.25,1.256,1.244,...,0,0,0,0,0,0,0,0,1.081,NaN
8,1,3.78,2076,GC,3/07/2012,0.092,0.076,0.318,0.088,0.061,...,0.33,0.654,0.406,0.141,0.073,0.19,0.902,0.098,0.066,NaN
9,1,3.78,2076,GG,3/07/2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
10,1,3.78,2076,CL,4/07/2012,1.256,1.244,1.25,1.25,0.931,...,0,0,0,0,0,0,0,0,1.063,NaN
11,1,3.78,2076,GC,4/07/2012,0.081,0.082,0.306,0.098,0.725,...,0.403,0.204,0.286,0.203,0.521,0.259,1.306,0.259,0.26,NaN
12,1,3.78,2076,GG,4/07/2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
13,1,3.78,2076,CL,5/07/2012,1.244,1.25,1.094,0,1.188,...,0,0,0,0,0,0,0,0,1.081,NaN
14,1,3.78,2076,GC,5/07/2012,0.445,0.255,0.138,0.115,0.071,...,0.24,0.506,0.237,0.257,0.462,0.414,0.932,0.07,0.094,NaN
15,1,3.78,2076,GG,5/07/2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
16,1,3.78,2076,CL,6/07/2012,1.25,1.25,1.25,1.25,0.4,...,0,0,0,0,0,0,0,0,1.056,NaN
17,1,3.78,2076,GC,6/07/2012,0.056,0.105,0.289,0.103,0.043,...,0.455,0.24,0.221,0.266,0.447,0.811,0.782,0.256,0.187,NaN
18,1,3.78,2076,GG,6/07/2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
19,1,3.78,2076,CL,7/07/2012,1.231,1.25,1.244,1.213,0,...,0,0,0,0,0,0,0,0,1.081,NaN

In [68]:
print(df_2012_2013['Postcode'].unique())
print(df_2012_2013['Customer'].unique())

['Postcode' '2076' '2259' '2263' '2220' '2261' '2230' '2126' '2262' '2026'
 '2218' '2265' '2208' '2229' 2229 2085 2259 2250 2283 2263 2305 2285 2300
 2093 2261 2025 2041 2303 2082 2284 2137 2048 2282 2265 2205 2224 2021
 2126 2290 2010 2135 2251 2162 2227 2295 2190 2029 2230 2204 2031 2039
 2087 2074 2330 2076 2291 2119 2099 2066 2100 2262 2081 2320 2134 2280
 2289 2294 2159 2008 2209 2203 2278 2079 2228 2044 2046 2111 2077 2018
 2208 2325 2324 2196 2231 2120 2260 2292 2293 2086 2207 2096 2047 2233
 2034 2092 2264 2037 2296 2286 2200 2219 2315 2211 2154 2088 2198 2326
 2084 2026 2321 2218 2281 2220 2216]
['Customer' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14'
 '15' '16' '17' 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59
 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83
 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105
 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123
 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141
 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159
 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177
 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195
 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213
 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231
 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249
 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267
 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285
 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300]

In [69]:
df_2012_2013['Postcode'] = df_2012_2013['Postcode'].astype(str)
df_2012_2013['Customer'] = df_2012_2013['Customer'].astype(str)
print(len(df_2012_2013['Postcode'].unique()))
print(len(df_2012_2013['Customer'].unique()))

101
301

# Data 2011~2012

In [70]:
import pandas as pd
# read the veteran dataset
df_2011_2012 = pd.read_csv('./Solar home half-hour data - 1 July 2011 to 30 June 2012/2011-2012 Solar home electricity data v2.csv')
# df_2011_2012.info()

C:\Users\John\AppData\Local\Temp\ipykernel_19120\65204848.py:3: DtypeWarning: Columns (0,1,2,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2011_2012 = pd.read_csv('./Solar home half-hour data - 1 July 2011 to 30 June 2012/2011-2012 Solar home electricity data v2.csv')

In [71]:
# df_2011_2012.head(20)

In [72]:
df_2011_2012.columns = ['Customer','Generator Capacity','Postcode','Consumption Category','date','0:30',
                  '1:00','1:30','2:00','2:30','3:00','3:30','4:00','4:30','5:00',
                  '5:30','6:00','6:30','7:00','7:30','8:00','8:30','9:00','9:30',
                  '10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30',
                  '14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30',
                  '18:00','18:30','19:00','19:30','20:00','20:30','21:00','21:30',
                  '22:00','22:30','23:00','23:30','0:00','Row Quality']

In [73]:
# df_2011_2012.info()

In [74]:
# print(df_2011_2012['Postcode'].unique())
# print(df_2011_2012['Customer'].unique())

In [75]:
df_2011_2012['Postcode'] = df_2011_2012['Postcode'].astype(str)
df_2011_2012['Customer'] = df_2011_2012['Customer'].astype(str)
print(len(df_2011_2012['Postcode'].unique()))
print(len(df_2011_2012['Customer'].unique()))

101
301

In [76]:
# df_2011_2012
filtered_df = df_2011_2012.loc[df_2011_2012['Customer'].str.contains('5')]
filtered_df

,Customer,Generator Capacity,Postcode,Consumption Category,date,0:30,1:00,1:30,2:00,2:30,...,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30,0:00,Row Quality
4393,5,1,2261,CL,1/07/2011,1.847,1.842,1.15,0,0,...,0,0,0,0,0,0,0,0,1.871,NaN
4394,5,1,2261,GC,1/07/2011,0.168,0.154,0.15,0.158,0.136,...,0.229,0.262,0.229,0.255,0.222,0.254,0.207,0.235,0.185,NaN
4395,5,1,2261,GG,1/07/2011,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4396,5,1,2261,CL,2/07/2011,1.862,1.861,1.863,1.487,0,...,0,0,0,0,0,0,0,0,1.852,NaN
4397,5,1,2261,GC,2/07/2011,0.186,0.095,0.041,0.087,0.121,...,0.218,0.094,0.05,0.076,0.376,0.243,0.12,0.098,0.217,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265908,295,1.0,2126,GG,28/06/2012,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
265909,295,1.0,2126,GC,29/06/2012,0.089,0.065,0.068,0.062,0.086,...,0.288,0.198,0.207,0.2,0.273,0.168,0.276,0.183,0.142,NaN
265910,295,1.0,2126,GG,29/06/2012,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
265911,295,1.0,2126,GC,30/06/2012,0.14,0.141,0.246,0.155,0.08,...,0.389,0.322,0.146,0.187,0.192,0.17,0.174,0.129,0.101,NaN
265912,295,1.0,2126,GG,30/06/2012,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [77]:
mask = df_2011_2012['Customer'] == '5'
data_2 = pd.DataFrame(df_2011_2012[mask])
data_2

,Customer,Generator Capacity,Postcode,Consumption Category,date,0:30,1:00,1:30,2:00,2:30,...,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30,0:00,Row Quality
4393,5,1,2261,CL,1/07/2011,1.847,1.842,1.15,0,0,...,0,0,0,0,0,0,0,0,1.871,NaN
4394,5,1,2261,GC,1/07/2011,0.168,0.154,0.15,0.158,0.136,...,0.229,0.262,0.229,0.255,0.222,0.254,0.207,0.235,0.185,NaN
4395,5,1,2261,GG,1/07/2011,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4396,5,1,2261,CL,2/07/2011,1.862,1.861,1.863,1.487,0,...,0,0,0,0,0,0,0,0,1.852,NaN
4397,5,1,2261,GC,2/07/2011,0.186,0.095,0.041,0.087,0.121,...,0.218,0.094,0.05,0.076,0.376,0.243,0.12,0.098,0.217,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5486,5,1,2261,GC,29/06/2012,0.112,0.111,0.143,0.16,0.153,...,0.676,0.522,0.321,0.351,0.331,0.343,0.271,0.193,0.171,NaN
5487,5,1,2261,GG,29/06/2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
5488,5,1,2261,CL,30/06/2012,1.81,1.827,0.495,0,0,...,0,0,0,0,0,0,0,0.031,1.825,NaN
5489,5,1,2261,GC,30/06/2012,0.124,0.165,0.145,0.143,0.171,...,0.447,1.088,0.222,0.292,0.181,0.192,0.183,0.19,0.17,NaN
5490,5,1,2261,GG,30/06/2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

# Data  2010 ~ 2011

In [78]:
import pandas as pd
# read the veteran dataset
df_2010_2011 = pd.read_csv('./Solar home half-hour data - 1 July 2010 to 30 June 2011/2010-2011 Solar home electricity data.csv')

C:\Users\John\AppData\Local\Temp\ipykernel_19120\592485040.py:3: DtypeWarning: Columns (0,1,2,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2010_2011 = pd.read_csv('./Solar home half-hour data - 1 July 2010 to 30 June 2011/2010-2011 Solar home electricity data.csv')

In [79]:
# df_2010_2011.info()
# df_2010_2011.head(20)

In [80]:
df_2010_2011.columns = ['Customer','Generator Capacity','Postcode','Consumption Category','date','0:30',
                  '1:00','1:30','2:00','2:30','3:00','3:30','4:00','4:30','5:00',
                  '5:30','6:00','6:30','7:00','7:30','8:00','8:30','9:00','9:30',
                  '10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30',
                  '14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30',
                  '18:00','18:30','19:00','19:30','20:00','20:30','21:00','21:30',
                  '22:00','22:30','23:00','23:30','0:00']

In [81]:
# print(df_2010_2011['Postcode'].unique())
# print(df_2010_2011['Customer'].unique())

In [82]:
df_2010_2011['Postcode'] = df_2010_2011['Postcode'].astype(str)
df_2010_2011['Customer'] = df_2010_2011['Customer'].astype(str)
print(len(df_2010_2011['Postcode'].unique()))
print(len(df_2010_2011['Customer'].unique()))

101
301

In [83]:
# df_2010_2011

filtered_df = df_2010_2011.loc[df_2010_2011['Customer'].str.contains('5')]
filtered_df

,Customer,Generator Capacity,Postcode,Consumption Category,date,0:30,1:00,1:30,2:00,2:30,...,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30,0:00
4381,5,1,2261,GC,1-Jul-10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4382,5,1,2261,CL,1-Jul-10,1.917,1.924,1.474,0.092,1.02,...,0.104,0.099,0.152,0.075,0.128,0.324,0.313,0.454,0.221,1.859
4383,5,1,2261,GG,1-Jul-10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4384,5,1,2261,GC,2-Jul-10,0.006,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4385,5,1,2261,CL,2-Jul-10,1.954,0.518,0.083,0.134,0.114,...,0.602,0.525,0.531,0.528,0.739,0.674,0.613,0.548,0.542,2.154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265351,295,1.0,2126,GG,28-Jun-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
265352,295,1.0,2126,GC,29-Jun-11,1.111,0.734,0.715,0.644,0.27,...,0.101,0.105,0.233,0.204,0.26,0.474,1.097,1.047,0.147,0.095
265353,295,1.0,2126,GG,29-Jun-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
265354,295,1.0,2126,GC,30-Jun-11,0.125,0.096,1.009,1.058,0.15,...,0.286,0.348,0.36,0.217,0.196,0.169,0.187,0.091,0.146,0.088
265355,295,1.0,2126,GG,30-Jun-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [84]:
# import pandas as pd
# # read the veteran dataset
# df_NonSolarMonthlyData = pd.read_csv('./Solar home monthly data  2007 to 2014/NonSolarMonthlyData_4064Custs.csv')
# df_SolarMonthlyData = pd.read_csv('./Solar home monthly data  2007 to 2014/SolarMonthlyData_2657Custs.csv')

In [85]:
# df_NonSolarMonthlyData.info()
# df_NonSolarMonthlyData.head(5)

In [86]:
# df_SolarMonthlyData.info()
# df_SolarMonthlyData.head(5)

In [87]:
# # print(df_NonSolarMonthlyData['Postcode'].unique())
# print(df_NonSolarMonthlyData['Customer ID'].unique())

# # print(df_2010_2011['Postcode'].unique())
# # print(df_SolarMonthlyData['Customer ID'].unique())

# Saperate data with CL & without CL (Data 2012 - 2013)

In [88]:
import pandas as pd
# read the veteran dataset
df_2012_2013 = pd.read_csv('./2012-2013 Solar home electricity data v2.csv')
df_2012_2013.info()

C:\Users\John\AppData\Local\Temp\ipykernel_19120\2583469665.py:3: DtypeWarning: Columns (0,1,2,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2012_2013 = pd.read_csv('./2012-2013 Solar home electricity data v2.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268558 entries, 0 to 268557
Data columns (total 54 columns):
 #   Column                                                                                                                                                            Non-Null Count   Dtype
---  ------                                                                                                                                                            --------------   -----
 0   2012-2013 Solar home electricity data - Before using this data, please read the attached pdf document "Ausgrid solar home electricity data notes (Aug 2014).pdf"  268558 non-null  object
 1   Unnamed: 1                                                                                                                                                        268558 non-null  object
 2   Unnamed: 2                                                                                                                                                        268558 non-null  object
 3   Unnamed: 3                                                                                                                                                        268558 non-null  object
 4   Unnamed: 4                                                                                                                                                        268558 non-null  object
 5   Unnamed: 5                                                                                                                                                        268558 non-null  object
 6   Unnamed: 6                                                                                                                                                        268558 non-null  object
 7   Unnamed: 7                                                                                                                                                        268558 non-null  object
 8   Unnamed: 8                                                                                                                                                        268558 non-null  object
 9   Unnamed: 9                                                                                                                                                        268558 non-null  object
 10  Unnamed: 10                                                                                                                                                       268558 non-null  object
 11  Unnamed: 11                                                                                                                                                       268558 non-null  object
 12  Unnamed: 12                                                                                                                                                       268558 non-null  object
 13  Unnamed: 13                                                                                                                                                       268558 non-null  object
 14  Unnamed: 14                                                                                                                                                       268558 non-null  object
 15  Unnamed: 15                                                                                                                                                       268558 non-null  object
 16  Unnamed: 16                                                                                                                                                       268558 non-null  object
 17  Unnamed: 17                                                                                                                                                       268558 non-null  object
 18  Unnamed: 18                                                                                                                                                       268558 non-null  object
 19  Unnamed: 19                                                                                                                                                       268558 non-null  object
 20  Unnamed: 20                                                                                                                                                       268558 non-null  object
 21  Unnamed: 21                                                                                                                                                       268558 non-null  object
 22  Unnamed: 22                                                                                                                                                       268558 non-null  object
 23  Unnamed: 23                                                                                                                                                       268558 non-null  object
 24  Unnamed: 24                                                                                                                                                       268558 non-null  object
 25  Unnamed: 25                                                                                                                                                       268558 non-null  object
 26  Unnamed: 26                                                                                                                                                       268558 non-null  object
 27  Unnamed: 27                                                                                                                                                       268558 non-null  object
 28  Unnamed: 28                                                                                                                                                       268558 non-null  object
 29  Unnamed: 29                                                                                                                                                       268558 non-null  object
 30  Unnamed: 30                                                                                                                                                       268558 non-null  object
 31  Unnamed: 31                                                                                                                                                       268558 non-null  object
 32  Unnamed: 32                                                                                                                                                       268558 non-null  object
 33  Unnamed: 33                                                                                                                                                       268558 non-null  object
 34  Unnamed: 34                                                                                                                                                       268558 non-null  object
 35  Unnamed: 35                                                                                                                                                       268558 non-null  object
 36  Unnamed: 36                                                                                                                                                       268558 non-null  object
 37  Unnamed: 37                                                                                                                                                       268558 non-null  object
 38  Unnamed: 38                                                                                                                                                       268558 non-null  object
 39  Unnamed: 39                                                                                                                                                       268558 non-null  object
 40  Unnamed: 40                                                                                                                                                       268558 non-null  object
 41  Unnamed: 41                                                                                                                                                       268558 non-null  object
 42  Unnamed: 42                                                                                                                                                       268558 non-null  object
 43  Unnamed: 43                                                                                                                                                       268558 non-null  object
 44  Unnamed: 44                                                                                                                                                       268558 non-null  object
 45  Unnamed: 45                                                                                                                                                       268558 non-null  object
 46  Unnamed: 46                                                                                                                                                       268558 non-null  object
 47  Unnamed: 47                                                                                                                                                       268558 non-null  object
 48  Unnamed: 48                                                                                                                                                       268558 non-null  object
 49  Unnamed: 49                                                                                                                                                       268558 non-null  object
 50  Unnamed: 50                                                                                                                                                       268558 non-null  object
 51  Unnamed: 51                                                                                                                                                       268558 non-null  object
 52  Unnamed: 52                                                                                                                                                       268558 non-null  object
 53  Unnamed: 53                                                                                                                                                       1 non-null       object
dtypes: object(54)
memory usage: 110.6+ MB

In [89]:
df_2012_2013.columns = ['Customer','Generator Capacity','Postcode','Consumption Category','date','0:30',
                  '1:00','1:30','2:00','2:30','3:00','3:30','4:00','4:30','5:00',
                  '5:30','6:00','6:30','7:00','7:30','8:00','8:30','9:00','9:30',
                  '10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30',
                  '14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30',
                  '18:00','18:30','19:00','19:30','20:00','20:30','21:00','21:30',
                  '22:00','22:30','23:00','23:30','0:00','Row Quality']

In [90]:
df_2012_2013['Postcode'] = df_2012_2013['Postcode'].astype(str)
df_2012_2013['Customer'] = df_2012_2013['Customer'].astype(str)
print(len(df_2012_2013['Postcode'].unique()))
print(len(df_2012_2013['Customer'].unique()))

101
301

In [91]:
df_CL = df_2012_2013[df_2012_2013['Consumption Category'] == "CL"]
dfCL = df_CL['Customer'].unique()
clCustomer = dfCL
allCustomer = df_2012_2013['Customer'].unique()
print(len(clCustomer))
print(len(allCustomer))

print(clCustomer)
print(allCustomer)

138
301
['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '14' '15' '18' '19' '23' '29'
 '30' '35' '36' '37' '39' '41' '42' '43' '49' '51' '53' '54' '56' '59'
 '61' '64' '65' '66' '68' '69' '70' '71' '73' '75' '77' '81' '84' '87'
 '88' '94' '95' '96' '98' '99' '105' '107' '108' '110' '112' '118' '119'
 '122' '123' '125' '126' '127' '129' '133' '137' '140' '145' '146' '148'
 '150' '151' '154' '155' '156' '158' '160' '161' '163' '167' '168' '171'
 '173' '174' '178' '184' '186' '187' '193' '194' '196' '202' '204' '206'
 '208' '209' '210' '212' '215' '217' '219' '221' '223' '225' '226' '227'
 '232' '234' '235' '239' '241' '243' '245' '246' '247' '248' '249' '252'
 '259' '261' '264' '270' '271' '272' '274' '277' '279' '281' '283' '284'
 '285' '286' '287' '289' '290' '293' '294' '297' '300']
['Customer' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14'
 '15' '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28'
 '29' '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42'
 '43' '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56'
 '57' '58' '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69' '70'
 '71' '72' '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83' '84'
 '85' '86' '87' '88' '89' '90' '91' '92' '93' '94' '95' '96' '97' '98'
 '99' '100' '101' '102' '103' '104' '105' '106' '107' '108' '109' '110'
 '111' '112' '113' '114' '115' '116' '117' '118' '119' '120' '121' '122'
 '123' '124' '125' '126' '127' '128' '129' '130' '131' '132' '133' '134'
 '135' '136' '137' '138' '139' '140' '141' '142' '143' '144' '145' '146'
 '147' '148' '149' '150' '151' '152' '153' '154' '155' '156' '157' '158'
 '159' '160' '161' '162' '163' '164' '165' '166' '167' '168' '169' '170'
 '171' '172' '173' '174' '175' '176' '177' '178' '179' '180' '181' '182'
 '183' '184' '185' '186' '187' '188' '189' '190' '191' '192' '193' '194'
 '195' '196' '197' '198' '199' '200' '201' '202' '203' '204' '205' '206'
 '207' '208' '209' '210' '211' '212' '213' '214' '215' '216' '217' '218'
 '219' '220' '221' '222' '223' '224' '225' '226' '227' '228' '229' '230'
 '231' '232' '233' '234' '235' '236' '237' '238' '239' '240' '241' '242'
 '243' '244' '245' '246' '247' '248' '249' '250' '251' '252' '253' '254'
 '255' '256' '257' '258' '259' '260' '261' '262' '263' '264' '265' '266'
 '267' '268' '269' '270' '271' '272' '273' '274' '275' '276' '277' '278'
 '279' '280' '281' '282' '283' '284' '285' '286' '287' '288' '289' '290'
 '291' '292' '293' '294' '295' '296' '297' '298' '299' '300']

In [92]:
sorted_df = df_2012_2013.sort_values(by="Postcode")

# Store the sorted customer data in an array
sorted_df.drop_duplicates(subset="Customer", keep="first", inplace=True)
sorted_customer_array = sorted_df.values

print(len(sorted_customer_array))

# for i in sorted_customer_array:
#     print(i)

301

In [93]:
allCustomer[0]

'Customer'

In [94]:
def find_different_values(array1, array2):
    # Initialize an empty list to store the different values
    different_values = []

    # Loop through the elements in the first array
    for item in array1:
        # If the element is not in the second array, add it to the different_values list
        if item not in array2:
            different_values.append(item)

    # Loop through the elements in the second array
    for item in array2:
        # If the element is not in the first array and not already in different_values, add it
        if item not in array1 and item not in different_values:
            different_values.append(item)

    return different_values

noclCustomer = find_different_values(clCustomer, allCustomer)
# print(noclCustomer)
noclCustomer = noclCustomer[1:]
print(len(noclCustomer))

162

In [95]:
print(type(clCustomer))

<class 'numpy.ndarray'>

In [96]:
print(type(noclCustomer))

<class 'list'>

Run the below code that with CL

In [97]:
# import numpy as np
# import matplotlib.pyplot as plt

# for customer in clCustomer:
#     mask = df_2012_2013['Customer'] == customer
#     data = pd.DataFrame(df_2012_2013[mask])
    
#     gclist_1=[]
#     gglist_1=[]
#     cllist_1=[]
    
#     for index in range(0,730,3):
#         CL = list(data.iloc[index, 5:-1])
#         GC = list(data.iloc[index+1, 5:-1])
#         GG = list(data.iloc[index+2, 5:-1])

#         for element in GC:
#             gclist_1.append(float(element))   
#         for value in GG :
#             gglist_1.append(float(value))
#         for cl in CL:
#             cllist_1.append(float(cl))
            
#     title1 = "Customer : "+ str(customer) + " - January_Week_1"
#     title2 = "Customer : "+ str(customer) + " - January_Week_2"
#     title3 = "Customer : "+ str(customer) + " - January_Week_3"
#     title4 = "Customer : "+ str(customer) + " - January_Week_4"
#     title5 = "Customer : "+ str(customer) + " - January_Week_5"
#     plt.figure(figsize = (20, 3))   
#     plt.plot(gglist_1[10320:10656], color = 'green', label = "Solar")
#     plt.plot(gclist_1[10320:10656], color = 'Red', label = "Comsumption")
#     plt.plot(cllist_1[10320:10656], color = 'blue', label = "Controlled Load Consumption")
#     plt.title(title1)
#     plt.legend()
#     plt.figure(figsize = (20, 3))
#     plt.plot(gglist_1[10657:10992], color = 'green', label = "Solar")
#     plt.plot(gclist_1[10657:10992], color = 'Red', label = "Comsumption")
#     plt.plot(cllist_1[10657:10992], color = 'blue', label = "Controlled Load Consumption")
#     plt.title(title2)
#     plt.legend()
#     plt.figure(figsize = (20, 3))
#     plt.plot(gglist_1[10993:11328], color = 'green', label = "Solar")
#     plt.plot(gclist_1[10993:11328], color = 'Red', label = "Comsumption")
#     plt.plot(cllist_1[10993:11328], color = 'blue', label = "Controlled Load Consumption")
#     plt.title(title3)
#     plt.legend()
#     plt.figure(figsize = (20, 3))
#     plt.plot(gglist_1[11329:11664], color = 'green', label = "Solar")
#     plt.plot(gclist_1[11329:11664], color = 'Red', label = "Comsumption")
#     plt.plot(cllist_1[11329:11664], color = 'blue', label = "Controlled Load Consumption")
#     plt.title(title4)
#     plt.legend()
#     plt.figure(figsize = (20, 3))
#     plt.plot(gglist_1[11665:11808], color = 'green', label = "Solar")
#     plt.plot(gclist_1[11665:11808], color = 'Red', label = "Comsumption")
#     plt.plot(cllist_1[11665:11808], color = 'blue', label = "Controlled Load Consumption")
#     plt.title(title5)
#     plt.legend()

5, 9, 19, 107, 248

run the below code that without CL

In [98]:
# import numpy as np
# import matplotlib.pyplot as plt

# for customer in noclCustomer:
#     mask = df_2012_2013['Customer'] == customer
#     data = pd.DataFrame(df_2012_2013[mask])
    
#     gclist=[]
#     gglist=[]
#     for index in range(0,730,2):
#         GC = list(data.iloc[index, 5:-1])
#         GG = list(data.iloc[index+1, 5:-1])
#         for element in GC:
#             gclist.append(element)
#         for value in GG :
#             gglist.append(value)
            
#     title1 = "Customer : "+ str(customer) + " - January_Week_1"
#     title2 = "Customer : "+ str(customer) + " - January_Week_2"
#     title3 = "Customer : "+ str(customer) + " - January_Week_3"
#     title4 = "Customer : "+ str(customer) + " - January_Week_4"
#     title5 = "Customer : "+ str(customer) + " - January_Week_5"
#     plt.figure(figsize = (20, 3))
#     plt.plot(gglist[10320:10656], color = 'green', label = "Solar")
#     plt.plot(gclist[10320:10656], color = 'Red', label = "Comsumption")
#     plt.title(title1)
#     plt.legend()
#     plt.figure(figsize = (20, 3))
#     plt.plot(gglist[10657:10992], color = 'green', label = "Solar")
#     plt.plot(gclist[10657:10992], color = 'Red', label = "Comsumption")
#     plt.title(title2)
#     plt.legend()
#     plt.figure(figsize = (20, 3))
#     plt.plot(gglist[10993:11328], color = 'green', label = "Solar")
#     plt.plot(gclist[10993:11328], color = 'Red', label = "Comsumption")
#     plt.title(title3)
#     plt.legend()
#     plt.figure(figsize = (20, 3))
#     plt.plot(gglist[11329:11664], color = 'green', label = "Solar")
#     plt.plot(gclist[11329:11664], color = 'Red', label = "Comsumption")
#     plt.title(title4)
#     plt.legend()
#     plt.figure(figsize = (20, 3))
#     plt.plot(gglist[11665:11808], color = 'green', label = "Solar")
#     plt.plot(gclist[11665:11808], color = 'Red', label = "Comsumption")
#     plt.title(title5)
#     plt.legend()

22, 24, 48, 50, 78, 97, 116, 157, 240, 260, 266, 268,

In [99]:
# 11, 12, 13, 16, 17 data are not able to use!!
# 260, no consumption
# Energy siganls fluction not equal in every week (January):
# 20, 21, 26, 31, 40, 44, 47, 55, 57, 74, 85, 89, 90, 100, 106, 113, 115, 116, 
# 211, 229, 230, 265, 296,

postcode 2076 : ['1', '89', '147', '197', '255', '299']
postcode 2190 : ['60', '92', '199', '226']

# Data process 2011 - 2012

In [100]:
# filtered_df_2011_2012

mask = df_2011_2012['Customer'] == '1'
data_2 = pd.DataFrame(df_2011_2012[mask])
data_2

,Customer,Generator Capacity,Postcode,Consumption Category,date,0:30,1:00,1:30,2:00,2:30,...,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30,0:00,Row Quality
1,1,3.78,2076,CL,1/07/2011,1.25,1.25,1.25,0.625,0.219,...,0,0,0,0,0,0,0,0,1.063,NaN
2,1,3.78,2076,GC,1/07/2011,1.077,0.669,0.674,0.615,0.321,...,0.276,0.241,0.168,0.234,0.164,0.639,0.118,0.219,0.162,NaN
3,1,3.78,2076,GG,1/07/2011,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,1,3.78,2076,CL,2/07/2011,1.238,1.244,1.194,0,0.888,...,0,0,0,0,0,0,0,0,1.075,NaN
5,1,3.78,2076,GC,2/07/2011,0.476,0.13,0.044,0.094,0.032,...,0.234,0.306,0.183,0.24,0.17,0.506,0.224,0.088,0.084,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094,1,3.78,2076,GC,29/06/2012,0.114,0.058,0.349,0.06,0.103,...,0.262,0.223,0.295,0.218,0.507,0.267,1.051,0.381,0.212,NaN
1095,1,3.78,2076,GG,29/06/2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1096,1,3.78,2076,CL,30/06/2012,1.231,1.238,1.169,0,1.213,...,0,0,0,0,0,0,0,0,1.063,NaN
1097,1,3.78,2076,GC,30/06/2012,0.692,1.237,0.918,0.69,0.553,...,0.434,0.279,0.197,0.283,0.622,0.509,0.716,0.999,0.916,NaN
1098,1,3.78,2076,GG,30/06/2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [101]:
data_2.drop([729, 730, 731], inplace=True)
data_2

,Customer,Generator Capacity,Postcode,Consumption Category,date,0:30,1:00,1:30,2:00,2:30,...,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30,0:00,Row Quality
1,1,3.78,2076,CL,1/07/2011,1.25,1.25,1.25,0.625,0.219,...,0,0,0,0,0,0,0,0,1.063,NaN
2,1,3.78,2076,GC,1/07/2011,1.077,0.669,0.674,0.615,0.321,...,0.276,0.241,0.168,0.234,0.164,0.639,0.118,0.219,0.162,NaN
3,1,3.78,2076,GG,1/07/2011,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,1,3.78,2076,CL,2/07/2011,1.238,1.244,1.194,0,0.888,...,0,0,0,0,0,0,0,0,1.075,NaN
5,1,3.78,2076,GC,2/07/2011,0.476,0.13,0.044,0.094,0.032,...,0.234,0.306,0.183,0.24,0.17,0.506,0.224,0.088,0.084,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094,1,3.78,2076,GC,29/06/2012,0.114,0.058,0.349,0.06,0.103,...,0.262,0.223,0.295,0.218,0.507,0.267,1.051,0.381,0.212,NaN
1095,1,3.78,2076,GG,29/06/2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1096,1,3.78,2076,CL,30/06/2012,1.231,1.238,1.169,0,1.213,...,0,0,0,0,0,0,0,0,1.063,NaN
1097,1,3.78,2076,GC,30/06/2012,0.692,1.237,0.918,0.69,0.553,...,0.434,0.279,0.197,0.283,0.622,0.509,0.716,0.999,0.916,NaN
1098,1,3.78,2076,GG,30/06/2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [102]:
# len(data_1.iloc[0, 5:-1])

In [103]:
#  df_2011_2012.loc[df_2011_2012['Postcode'].str.contains('2076')]
# data_2.loc[data_2['Consumption Category'].str.contains('CL')]

In [104]:
gclist_data_2=[]
gglist_data_2=[]
cllist_data_2=[]

for index in range(0,1095,3):
    CL = list(data_2.iloc[index, 5:-1])
    GC = list(data_2.iloc[index+1, 5:-1])
    GG = list(data_2.iloc[index+2, 5:-1])
    
    for element in GC:
        gclist_data_2.append(float(element))   
    for value in GG :
        gglist_data_2.append(float(value))
    for cl in CL:
        cllist_data_2.append(float(cl))


print(len(gclist_data_2))
print(len(gglist_data_2))
print(len(cllist_data_2))

print(cllist_data_2[0:48])
print(gclist_data_2[0:48])
print(gglist_data_2[0:48])

17520
17520
17520
[1.25, 1.25, 1.25, 0.625, 0.219, 1.013, 0.0, 0.0, 0.125, 0.894, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.063]
[1.077, 0.669, 0.674, 0.615, 0.321, 0.097, 0.527, 0.07, 0.049, 0.085, 0.48, 0.084, 0.034, 0.101, 0.056, 0.121, 0.15, 0.195, 0.123, 0.058, 0.238, 0.042, 0.095, 0.036, 0.097, 0.063, 0.075, 0.084, 0.048, 0.092, 0.035, 0.091, 0.034, 0.1, 0.113, 0.094, 0.114, 0.118, 0.381, 0.276, 0.241, 0.168, 0.234, 0.164, 0.639, 0.118, 0.219, 0.162]
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.075, 0.069, 0.125, 0.263, 0.494, 0.656, 0.494, 0.488, 0.388, 0.281, 0.056, 0.175, 0.188, 0.238, 0.2, 0.381, 0.35, 0.113, 0.013, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

# Average  - customer - 1

In [ ]:
filtered_df_2010_2011 = df_2010_2011.loc[df_2010_2011['Postcode'].str.contains('2076')]
filtered_df_2010_2011['Customer'].unique()

In [ ]:
mask = filtered_df_2010_2011['Customer'] == '1'
data_1 = pd.DataFrame(filtered_df_2010_2011[mask])
data_1

In [ ]:
gclist_data_1=[]
gglist_data_1=[]
cllist_data_1=[]

for index in range(0,1095,3):
    GC = list(data_1.iloc[index, 5:])
    CL = list(data_1.iloc[index+1, 5:])
    GG = list(data_1.iloc[index+2, 5:])
    
    for element in GC:
        gclist_data_1.append(float(element))   
    for value in GG :
        gglist_data_1.append(float(value))
    for cl in CL:
        cllist_data_1.append(float(cl))


# print(len(gclist_data_1))
# print(len(gglist_data_1))
# print(len(cllist_data_1))


# print(gclist_data_1[0:48])
# print(cllist_data_1[0:48])
# print(gglist_data_1[0:48])

In [ ]:
type(gclist_data_1)

# average

In [ ]:
average_gc_1 = []

# Iterate through the lists and calculate the average for each index
for i in range(len(gclist_data_1)):
    average = (gclist_data_1[i] + gclist_data_2[i]) / 2
    average_gc_1.append(average)

# print(average_gc)
average_cl_1 = []

# Iterate through the lists and calculate the average for each index
for j in range(len(cllist_data_1)):
    average = (cllist_data_1[j] + cllist_data_2[j]) / 2
    average_cl_1.append(average)

# print(average_gc)
average_gg_1 = []

# Iterate through the lists and calculate the average for each index
for k in range(len(gclist_data_1)):
    average = (gglist_data_1[k] + gglist_data_2[k]) / 2
    average_gg_1.append(average)

# print(average_gc)

In [ ]:
print(len(average_gc_1))
print(len(average_cl_1))
print(len(average_gg_1))

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

plt.figure(figsize = (15, 2))
plt.plot(average_gg_1[:336], color = 'green', label = "Solar")
plt.plot(average_gc_1[:336], color = 'Red', label = "Comsumption")
plt.plot(average_cl_1[:336], color = 'blue', label = "Controlled Load Consumption")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(average_gg_1[337:672], color = 'green', label = "Solar")
plt.plot(average_gc_1[337:672], color = 'Red', label = "Comsumption")
plt.plot(average_cl_1[337:672], color = 'blue', label = "Controlled Load Consumption")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(average_gg_1[673:1008], color = 'green', label = "Solar")
plt.plot(average_gc_1[673:1008], color = 'Red', label = "Comsumption")
plt.plot(average_cl_1[673:1008], color = 'blue', label = "Controlled Load Consumption")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(average_gg_1[1009:1344], color = 'green', label = "Solar")
plt.plot(average_gc_1[1009:1344], color = 'Red', label = "Comsumption")
plt.plot(average_cl_1[1009:1344], color = 'blue', label = "Controlled Load Consumption")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(average_gg_1[1335:1488], color = 'green', label = "Solar")
plt.plot(average_gc_1[1335:1488], color = 'Red', label = "Comsumption")
plt.plot(average_cl_1[1335:1488], color = 'blue', label = "Controlled Load Consumption")
plt.legend()

In [ ]:
# average_gc
# average_cl
# average_gg

plt.figure(figsize = (20, 3))
plt.plot(average_gg_1[10320:10656], color = 'green', label = "Solar")
plt.plot(average_gc_1[10320:10656], color = 'Red', label = "Comsumption")
plt.plot(average_cl_1[10320:10656], color = 'blue', label = "Controlled Load Consumption")
plt.legend()
plt.figure(figsize = (20, 3))
plt.plot(average_gg_1[10657:10992], color = 'green', label = "Solar")
plt.plot(average_gc_1[10657:10992], color = 'Red', label = "Comsumption")
plt.plot(average_cl_1[10657:10992], color = 'blue', label = "Controlled Load Consumption")
plt.legend()
plt.figure(figsize = (20, 3))
plt.plot(average_gg_1[10993:11328], color = 'green', label = "Solar")
plt.plot(average_gc_1[10993:11328], color = 'Red', label = "Comsumption")
plt.plot(average_cl_1[10993:11328], color = 'blue', label = "Controlled Load Consumption")
plt.legend()
plt.figure(figsize = (20, 3))
plt.plot(average_gg_1[11329:11664], color = 'green', label = "Solar")
plt.plot(average_gc_1[11329:11664], color = 'Red', label = "Comsumption")
plt.plot(average_cl_1[11329:11664], color = 'blue', label = "Controlled Load Consumption")
plt.legend()
plt.figure(figsize = (20, 3))
plt.plot(average_gg_1[11665:11808], color = 'green', label = "Solar")
plt.plot(average_gc_1[11665:11808], color = 'Red', label = "Comsumption")
plt.plot(average_cl_1[11665:11808], color = 'blue', label = "Controlled Load Consumption")
plt.legend()

In [ ]:
df = df_2012_2013
mask = df['Customer'] == '1'
data_3 = pd.DataFrame(df[mask])
#data_1.info()
data_3

gclist_1=[]
gglist_1=[]
cllist_1=[]

for index in range(0,1050,3):
    CL = list(data_3.iloc[index, 5:-1])
    GC = list(data_3.iloc[index+1, 5:-1])
    GG = list(data_3.iloc[index+2, 5:-1])
    
    for element in GC:
        gclist_1.append(float(element))   
    for value in GG :
        gglist_1.append(float(value))
    for cl in CL:
        cllist_1.append(float(cl))

In [ ]:
title1 = "Costumer 1 Solar generation in July"

plt.figure(figsize = (15, 2))
plt.plot(gglist_1[:336], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[:336], color = 'red', label = "Solar average")
plt.title(title1)
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_1[337:672], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[337:672], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_1[673:1008], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[673:1008], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_1[1009:1344], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[1009:1344], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_1[1335:1488], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[1335:1488], color = 'red', label = "Solar average")
plt.legend()

In [ ]:
title1 = "Costumer 1 CL generation in July"

plt.figure(figsize = (15, 2))
plt.plot(cllist_1[:336], color = 'green', label = "CL - 2012-2013")
plt.plot(average_cl_1[:336], color = 'red', label = "CL average")
plt.title(title1)
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(cllist_1[337:672], color = 'green', label = "Cl - 2012-2013")
plt.plot(average_cl_1[337:672], color = 'red', label = "CL average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(cllist_1[673:1008], color = 'green', label = "CL - 2012-2013")
plt.plot(average_cl_1[673:1008], color = 'red', label = "CL average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(cllist_1[1009:1344], color = 'green', label = "CL - 2012-2013")
plt.plot(average_cl_1[1009:1344], color = 'red', label = "CL average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(cllist_1[1335:1488], color = 'green', label = "CL - 2012-2013")
plt.plot(average_cl_1[1335:1488], color = 'red', label = "CL average")
plt.legend()

In [ ]:
title1 = "Costumer 1 GC generation in July"

plt.figure(figsize = (15, 2))
plt.plot(gclist_1[:336], color = 'green', label = "GC - 2012-2013")
plt.plot(average_gc_1[:336], color = 'red', label = "GC average")
plt.title(title1)
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gclist_1[337:672], color = 'green', label = "GC - 2012-2013")
plt.plot(average_gc_1[337:672], color = 'red', label = "GC average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gclist_1[673:1008], color = 'green', label = "GC - 2012-2013")
plt.plot(average_gc_1[673:1008], color = 'red', label = "GC average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gclist_1[1009:1344], color = 'green', label = "GC - 2012-2013")
plt.plot(average_gc_1[1009:1344], color = 'red', label = "GC average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gclist_1[1335:1488], color = 'green', label = "GC - 2012-2013")
plt.plot(average_gc_1[1335:1488], color = 'red', label = "GC average")
plt.legend()

In [ ]:
title1 = "Costumer 1 Solar generation in Oct"

plt.figure(figsize = (15, 2))
plt.plot(gglist_1[4416:4752], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[4416:4752], color = 'red', label = "Solar average")
plt.title(title1)
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_1[4752:5088], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[4752:5088], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_1[5089:5425], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[5089:5425], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_1[5426:5762], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[5426:5762], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_1[5763:6098], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[5763:6098], color = 'red', label = "Solar average")
plt.legend()

In [ ]:
title1 = "Costumer 1 Solar generation in April"

plt.figure(figsize = (15, 2))
plt.plot(gglist_1[14641:14976], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[14641:14976], color = 'red', label = "Solar average")
plt.title(title1)
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_1[14977:15313], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[14977:15313], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_1[15314:15650], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[15314:15650], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_1[15651:15986], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[15651:15986], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_1[15987:16232], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg_1[15987:16232], color = 'red', label = "Solar average")
plt.legend()

In [ ]:
title1 = "Costumer 1 General consumption in July"

plt.figure(figsize = (15, 2))
plt.plot(gclist_1[:336], color = 'green', label = "GC 2012-2013")
plt.plot(average_gc_1[:336], color = 'red', label = "GC average")
plt.title(title1)
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gclist_1[337:672], color = 'green', label = "GC 2012-2013")
plt.plot(average_gc_1[337:672], color = 'red', label = "GC average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gclist_1[673:1008], color = 'green', label = "GC 2012-2013")
plt.plot(average_gc_1[673:1008], color = 'red', label = "GC average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gclist_1[1009:1344], color = 'green', label = "GC 2012-2013")
plt.plot(average_gc_1[1009:1344], color = 'red', label = "GC average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gclist_1[1335:1488], color = 'green', label = "GC 2012-2013")
plt.plot(average_gc_1[1335:1488], color = 'red', label = "GC average")
plt.legend()

In [ ]:
title1 = "Costumer 1 Controlled Load in July"

plt.figure(figsize = (15, 2))
plt.plot(cllist_1[:336], color = 'green', label = "GC 2012-2013")
plt.plot(average_cl_1[:336], color = 'red', label = "GC average")
plt.title(title1)
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(cllist_1[337:672], color = 'green', label = "GC 2012-2013")
plt.plot(average_cl_1[337:672], color = 'red', label = "GC average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(cllist_1[673:1008], color = 'green', label = "GC 2012-2013")
plt.plot(average_cl_1[673:1008], color = 'red', label = "GC average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(cllist_1[1009:1344], color = 'green', label = "GC 2012-2013")
plt.plot(average_cl_1[1009:1344], color = 'red', label = "GC average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(cllist_1[1335:1488], color = 'green', label = "GC 2012-2013")
plt.plot(average_cl_1[1335:1488], color = 'red', label = "GC average")
plt.legend()

# average - customer - 22

In [ ]:
mask = df_2011_2012['Customer'] == '22'
data_2 = pd.DataFrame(df_2011_2012[mask])
data_2

mask = df_2010_2011['Customer'] == '22'
data_1 = pd.DataFrame(df_2010_2011[mask])
data_1

gclist_data_2=[]
gglist_data_2=[]

for index2 in range(0,730,2):
    GC = list(data_2.iloc[index2, 5:-1])
    GG = list(data_2.iloc[index2+1, 5:-1])
    
    for element2 in GC:
        gclist_data_2.append(float(element2))   
    for value2 in GG :
        gglist_data_2.append(float(value2))
        
        
gclist_data_1=[]
gglist_data_1=[]

for index1 in range(0,730,2):
    GC = list(data_1.iloc[index1, 5:])
    GG = list(data_1.iloc[index1+1, 5:])

    
    for element1 in GC:
        gclist_data_1.append(float(element1))   
    for value1 in GG :
        gglist_data_1.append(float(value1))

        
average_gc = []

# Iterate through the lists and calculate the average for each index
for i in range(len(gclist_data_1)):
    average = (gclist_data_1[i] + gclist_data_2[i]) / 2
    average_gc.append(average)

# print(average_gc)

average_gg = []

# Iterate through the lists and calculate the average for each index
for k in range(len(gglist_data_1)):
    average = (gglist_data_1[k] + gglist_data_2[k]) / 2
    average_gg.append(average)

In [ ]:
print(len(average_gc))
print(len(average_gg))

In [ ]:
df = df_2012_2013
mask = df['Customer'] == '22'
data_3 = pd.DataFrame(df[mask])
#data_1.info()
data_3

In [ ]:
gclist_22=[]
gglist_22=[]
for index in range(0,730,2):
    GC = list(data_3.iloc[index, 5:-1])
    GG = list(data_3.iloc[index+1, 5:-1])
    for element in GC:
        gclist_22.append(element)
    for value in GG :
        gglist_22.append(value)

In [ ]:
title1 = "Costumer 22 Solar generation in July"

plt.figure(figsize = (15, 2))
plt.plot(gglist_22[:336], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg[:336], color = 'red', label = "Solar average")
plt.title(title1)
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_22[337:672], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg[337:672], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_22[673:1008], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg[673:1008], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_22[1009:1344], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg[1009:1344], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gglist_22[1335:1488], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gg[1335:1488], color = 'red', label = "Solar average")
plt.legend()

In [ ]:
title1 = "Costumer 22 Solar generation in July"

plt.figure(figsize = (15, 2))
plt.plot(gclist_22[:336], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gc[:336], color = 'red', label = "Solar average")
plt.title(title1)
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gclist_22[337:672], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gc[337:672], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gclist_22[673:1008], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gc[673:1008], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gclist_22[1009:1344], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gc[1009:1344], color = 'red', label = "Solar average")
plt.legend()
plt.figure(figsize = (15, 2))
plt.plot(gclist_22[1335:1488], color = 'green', label = "Solar 2012-2013")
plt.plot(average_gc[1335:1488], color = 'red', label = "Solar average")
plt.legend()

In [ ]:
mask = df['Customer'] == '22'
data = pd.DataFrame(df[mask])

gclist=[]
gglist=[]
for index in range(0,730,2):
    GC = list(data.iloc[index, 5:-1])
    GG = list(data.iloc[index+1, 5:-1])
    for element in GC:
        gclist.append(element)
    for value in GG :
        gglist.append(value)
        
plt.figure(figsize = (20, 3))
plt.plot(gglist[:336], color = 'green', label = "Solar")
plt.plot(gclist[:336], color = 'Red', label = "Comsumption")
plt.legend()
plt.figure(figsize = (20, 3))
plt.plot(gglist[337:672], color = 'green', label = "Solar")
plt.plot(gclist[337:672], color = 'Red', label = "Comsumption")
plt.legend()
plt.figure(figsize = (20, 3))
plt.plot(gglist[673:1008], color = 'green', label = "Solar")
plt.plot(gclist[673:1008], color = 'Red', label = "Comsumption")
plt.legend()
plt.figure(figsize = (20, 3))
plt.plot(gglist[1009:1344], color = 'green', label = "Solar")
plt.plot(gclist[1009:1344], color = 'Red', label = "Comsumption")
plt.legend()
plt.figure(figsize = (20, 3))
plt.plot(gglist[1335:1488], color = 'green', label = "Solar")
plt.plot(gclist[1335:1488], color = 'Red', label = "Comsumption")
plt.legend()